.topContainer{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.topnav{
  background-color: #E4F9F5;
  padding-top: 30px;
}

.topnav a:hover {
  background-color: #E4F9F5;
  color: black;
}

.topnav a {
  text-align: justify;
}


.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

p{
  line-height: 2;
}
hr{
  border-style: dotted ;
  border-color:  #EAF6F6;
  border-width: 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.profile{
  width: 50%;
  margin: 50px auto 50px auto;
}

body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}




.ranu{
  height: 200px;
  width: 200px;
}

.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  padding-bottom: 30px;
}

.skill-computer{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli{
  width: 25%;
  float: right;
  margin-left: 30px;
}

a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color:#EAF6F6;

}

.contact-me{
  width: 50%;
  margin: 40px auto 60px;
}

.copyright{
  color:#EAF6F6;
  font-size: 0.75REM;
  padding: 20px 0;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.mountain{
  width:100%;
}

.top-bird{
  width: 5%;
  position: absolute;
  right: 100px;
}

.middle-bird{
  width: 5%;
  position: absolute;
  left: 50%;
  bottom:100px;
}

.bottom-bird{
  width: 5%;
  position: absolute;
  left: 100px;
  bottom: 50px;
}

.top-cloud{
  width:10%;
  position: absolute;
  right: 50px;
  top: 500px;
}

.bottom-cloud{
  width:10%;
  position: absolute;
  right: 200px;
}

.top-cloud1{
  width: 10%;
  position: absolute;
  top:300px;
  left: 50px;
}

.top-cloud2{
  width: 10%;
  position: absolute;
  top:200px;
  left: 300px;
}
